@{
	var user = this.User();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/base")
    @Styles.Render("~/bundles/foundation")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/foundation")
</head>
<body>
	<header>
	@if (user == null)
	{
		<span class="login-status">You're not logged in</span>
		<a href="/account/login">Log in</a>
	}
	else
	{
		<span class="login-status">Hi, @user.Forename</span>
		<a href="/reports/leaderboard">Leader Board</a>

		<a href="/account/logout">Log out</a>
	}

</header>
@RenderBody()

@RenderSection("scripts", required: false)
</body>
</html>
