@{
	var user = this.User();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Job Statisfaction - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/base")
    @Styles.Render("~/Content/themes/foundation/foundation.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/foundation.min.js")
	<meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, minimum-scale=1">
	@Html.Badges()
</head>
<body>
	<div class="row">
		<header>
			<img src="~/Assets/Images/logo.png"/>
			<hr/>
			@if (user == null)
			{
				<span class="login-status">You're not logged in</span>
				<a href="/account/login" class="tiny button">Log in</a>
			}
			else
			{
				<span class="login-status">Hi, <strong><a href="/account/profile/@user.Id">@user.Forename</a></strong></span>
				
				<a href="/account/logout" class="tiny button">Log out</a>
				<a href="/leaderboard" class="tiny button">Leaderboard</a>
				<a href="/questionnaire" class="tiny button">Rate!</a>

			}
		</header>
		@RenderBody()
		<footer>
			<span>Powered by gold stars <span style="color: gold;">&#9733;</span></span>
		</footer>
	</div>

	@RenderSection("scripts", required: false)
</body>
</html>
