@inherits WebViewPage<Hack24.Core.Entities.Question>

<div class="question">
	@Model.Text

    <ul class="small-block-grid-2" data-questionid="@Model.Id">
        @foreach (var answer in Model.Answers)
        {
            <li class="answer" data-answerid="@answer.Id">
                <div>
                    <span>@answer.Text</span>
                    <img src="@answer.ImageUrl" />
                </div>
            </li>
        }
    </ul>
</div>