@inherits WebViewPage<Hack24.Core.Entities.Question>
@Styles.Render("~/bundles/questions")
@Scripts.Render("~/bundles/base")
@Scripts.Render("~/Scripts/amplify.min.js")
@Scripts.Render("~/bundles/questions")

@Model.Text

<div class="row">
    <ul data-questionId="@Model.Id">
	    @foreach (var answer in Model.Answers)
    {
	    <li class="answer">
		    <div>
			    <span>@answer.Text</span>
			    <img src="@answer.ImageUrl" />
		    </div>
	    </li>
    }
    </ul>
</div>