@model Hack24.Models.LoginModel
@Styles.Render("~/Content/themes/account/login.css")

<div class="small-12 columns">
	@using (Html.BeginForm())
	{
		@Html.LabelFor(x => x.EmailAddress, "Email Address")
		@Html.TextBoxFor(x => x.EmailAddress, new { @placeholder = "Email Address" })
		@Html.LabelFor(x => x.Password, "Password")
		@Html.PasswordFor(x => x.Password, new { @placeholder = "Password" })
		<input type="submit" value="Login" class="button" />
	}
</div>