@model Hack24.Core.Entities.UserProfileReport

@{
	ViewBag.Title = "title";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.User.Forename @Model.User.Surname</h1>

@if (Model.User.Badges.Any())
{
	<p>Badges:</p>
	<ul class="badges">
		@foreach (var badge in Model.User.Badges)
		{
			<li><em></em>@Model.BadgeNames[badge]</li>
		}
	</ul>
}
else
{
	<p>No badges</p>
}

<hr/>

@if (Model.Metrics.Any())
{
	<p>Stats:</p>
	<dl>
		@foreach (var stat in Model.Metrics)
		{
			<dt>@stat.Metric</dt>
			<dd>@stat.Score.ToString("#.0") /5</dd>
		}
	</dl>
}
